body {
    background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    font-family: 'Sacramento', cursive;
    color: #9e1f8f;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
}

p {
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    line-height: 48px;
}

#game-title {
    position: relative;
    top: 50px;
    padding: 20px;
    border: dotted turquoise 4px;
    margin: 20px;
}

#prompt {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 80px;
    margin-bottom: 20px;
}

.counters {
    font-family: 'Acme', sans-serif;
}

